.calculator__buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.calculator__buttons > button {
  padding: 0.5rem;
}

.calculator__btn--reset,
.calculator__btn--equals {
  width: 100%;
  grid-column: span 2;
}

.calculator__output {
  padding-inline: 0.75rem;
  border: 1px solid black;
  margin-block: 0.75rem;
  text-align: right;
}
