*,
::after,
::before {
  box-sizing: border-box;
}

button,
input {
  font: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  white-space: nowrap;
}

/* Search Reset */
input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: grid;
  place-content: center;
}

.flow > * + * {
  margin-top: 1.25rem;
}

/* Table Styling */
table {
  width: 100%;
  text-align: center;
  margin-top: 1.25rem;
}

table input {
  width: 100%;
}

th,
td {
  padding: 1rem;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

/* Form utility */
.form {
  display: flex;
  gap: 0.5rem;
}

.form > input {
  width: 100%;
}

/* Flex Utility */
.flex {
  display: flex;
  gap: 0.5rem;
}

.flex--justify-space {
  justify-content: space-between;
}

.flex-align-center {
  align-items: center;
}

.flex--center {
  justify-content: center;
  align-items: center;
}

/* Grid Utility */
.grid {
  display: grid;
}

.grid--content-center {
  place-content: center;
}

.grid--items-center {
  place-items: center;
}
