*,
::after,
::before {
  box-sizing: border-box;
}

button,
input {
  font: inherit;
  text-transform: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  white-space: nowrap;
  padding: 0.35rem 1.5rem;
  font-weight: 600;
}

input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  min-height: 100vh;
  display: grid;
  place-content: center;
  text-transform: uppercase;
  font-weight: 500;
}

.flow > * + * {
  margin-top: 1.25rem;
}

/* Table Styling */
table {
  width: 100%;
  text-align: center;
  margin-top: 1.25rem;
}

table input {
  width: 100%;
}

th,
td {
  padding: 1rem;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

/* Form utility */
.form {
  display: flex;
  gap: 0.5rem;
}

.form > input {
  width: 100%;
}

/* Text Utility */
.text--center {
  text-align: center;
}

/* Flex Utility */
.flex {
  display: flex;
  gap: 0.5rem;
}

.flex--justify-center {
  justify-content: center;
}

.flex--justify-space {
  justify-content: space-between;
}

.flex-align-center {
  align-items: center;
}

.flex--center {
  justify-content: center;
  align-items: center;
}

/* Grid Utility */
.grid {
  display: grid;
}

.grid--content-center {
  place-content: center;
}

.grid--items-center {
  place-items: center;
}

/* Margins */
.margin-300 {
  margin-top: 2rem;
}

.margin-200 {
  margin-top: 1.5rem;
}

.margin-100 {
  margin-top: 1rem;
}

/* Width */
.width-100 {
  width: 100%;
}
