* {
  box-sizing: border-box;
}

button,
input {
  font: inherit;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  display: grid;
  place-content: center;
  min-height: 100vh;
}